{% extends "base.html" %}
{% block containt %}
<!-- about -->
    <section id="about" class="section">
      <div class="title">
        <h2>about <span>us</span></h2>
      </div>
    </section>
    <!-- services -->
    <section id="services" class="section">
      <div class="title">
        <h2>our <span>services</span></h2>
      </div>
    </section>
    <!-- contact -->
    <section id="tours" class="section">
      <div class="title">
        <h2>featured <span>tours</span></h2>
      </div>
    </section>
    <!-- footer -->
    <footer class="section">
      <p>
        copyright &copy; backroads travel tours company
        <span id="date"></span>. all rights reserved
      </p>
    </footer>
    <a class="scroll-link top-link" href="#home">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- javascript -->
    <!-- <script src="static/app.js"></script> -->
  </body>
</html>
{% endblock %}